.main {
    margin-left: 7cm;
    margin-top: 1cm;
}
.form-horizontal {
    margin-left: .5cm;
    padding-top: 1em;
}

.article {
    font-family: "Courier New", fantasy;
    font-weight: 700;
}
.inf {
    width: 100%;
    outline: 2px solid #64AEE8;
}

.tdLeft {
    border: 2px solid #64AEE8;
}
.create{
    border: 2px solid #64AEE8;

}
.control-label {
    font-family: "Courier New", fantasy;
}
.msg {
    margin-left: 1cm;
}