.row {
    margin-left: .1cm;
    padding-top: .1cm;
}
.form-horizontal {
    margin-left: .5cm;
    padding-top: 1em;
}
.article {
    align: center;
}
.inf {
    outline: 2px solid #64AEE8;
    width: 90%;
}
.main.td {
   padding: 5px;
    border: 2px solid #64AEE8;
}